.container{
    margin: 0 3px;
    padding: .5rem 1rem;
}
.address{
    color: var(--blue);
    font-size: 25px;
    font-weight: 600;
}
.location{
    font-size: 20px;
    font-weight: 600;
    color: var(--red);
}

.call{
    font-weight: 400;
    font-size: 18px;
}

.office{
    font-size: 17px;
}
.offices{
    margin-top: -15px;
}

.call:hover{
    color: var(--blue);
}
.contacts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}