.container {
    width: 100vw;
    background-color: var(--white);
    padding: 2rem 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: sticky;
    
    @media(max-width: 768px) {
        padding: .5rem .3rem;
        flex-direction: column;
        justify-content: center;
        height: fit-content;
    }
}
.keyPoints, .FAQ{
    width: 40%;
    margin: 0 25px;

    @media(max-width: 768px) {
        width: 100%;
        margin: 10px 0;
    }
}
.one h1{
    color: var(--blue);
    font-weight: 500;
    font-size: 18px;
}

.one .ul{
    margin-left: 25px;
}
.one p{
    line-height: 1.5rem;
    font-size: 1rem;
}
.one .ul li{
    border-bottom: .5px solid gray;
    padding: 0.3rem;
    width: fit-content;
}

.one ul li{
    list-style-type: circle;
}