.container {
    height: 80vh;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 2rem 4rem;

    @media (max-width: 768px) {
        flex-direction: column;
        padding: 2px;
        gap: 5px;
        width: 100%;
        height: fit-content;
    }
}

.imageWrapper {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    width: 60%;

    @media(max-width: 768px) {
        width: 95%;
        margin: 0 auto;
    }
}

.image {
    width: 40%;

    @media(max-width: 768px) {
        width: 90%;
    }
}

.image {
    text-align: center;
    display: flex;
    justify-content: center;

    @media(max-width: 768px) {
        width: 90%;
    }
}

.imageWrapper {
    padding: .3rem;
    background-color: transparent;
    border: 4px double var(--orange);
    border-radius: 10px;

    @media (max-width: 768px) {
        padding: .5rem;
        width: 80%;
        border: 1px solid var(--orange);
    }
}

.img {
    border-radius: 10px;
    max-width: 100%;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    gap: 20px;
    max-width: 50%;
    padding: 2rem;

    @media (max-width: 768px) {
        min-width: 95%;
        gap: 10px;
        padding: .5rem .3rem;
    }
}

.image {
    min-width: 25%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    @media (max-width: 768px) {
        width: 95%;
    }
}



.welcome {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: -15px;
    color: var(--red);
    opacity: 0.7;
}

@media (max-width: 768px) {
    .welcome {
        font-size: 13px;
        font-weight: 400;
    }
}

.header {
    font-weight: 600;
    font-size: 50px;
    line-height: 50px;
    padding-bottom: 5px;
    background: var(--blue);
    background: linear-gradient(to right, var(--blue) 25%, var(--red) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.315);

    @media (max-width: 768px) {
        font-size: 27px;
        line-height: 27px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.315);
    }
}


.description {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    /* padding: 0 3rem 0 0; */

    @media (max-width: 768px) {
        font-size: 16px;
        padding: .1rem;
        line-height: 22px;
    }
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;

    @media (max-width: 768px) {
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }

}