.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    height: fit-content;
    gap: 20px;
    padding: 3rem 2rem;
    margin: 0 auto;
    font-family: WorkSans-Regular, sans-serif;

    @media(max-width: 768px) {
            flex-direction: column;
            padding: .5rem;
            width: 100%;
    }
}

.image {
    width: 50%;
    
    @media(max-width: 768px) {
        width: 100%;
    }
}

.text {
    width: 50%;

    @media(max-width: 768px) {
        width: 100%;
    }
}

.image {
    text-align: center;
    display: flex;
    justify-content: center;
}

.imageWrapper {
    padding: .3rem;
    background-color: transparent;
    border: 3px double var(--blue);
    border-radius: 10px;
}

.img {
    border-radius: 10px;
}

.title {
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 600;
    text-shadow: 2px 2px #000000;
    text-shadow: 4px 4px 9px rgba(26, 25, 25, 0.377);
}

.why {
    color: var(--red);
    padding-right: 7px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;

    width: 98%;
}
.both {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: start;
    margin-top: 5px;

    @media(max-width: 768px) {
        gap: 10px;
    }
}


.text {
    padding-right: 30px;

    @media(max-width: 768px) {
        padding-right: 0;
    }
}


.iconE,
.iconO {
    border-radius: 50%;
    min-width: 35px;
    max-width: 35px;
    min-height: 35px;
    max-height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-weight: 500;
    text-align: center;
    padding: 2px;
    font-size: 22px;
}

.iconE {
    background-color: var(--red);
}

.iconO {
    background-color: var(--blue);
}

.label {
    color: var(--dark);
    font-size: 19px;
    font-weight: 600;

    @media(max-width: 768px) {
        font-size: 16px;
    }
}

.desc {
    font-size: 17px;
    color: var(--dark);
    padding-right: 30px;
    line-height: 17px;
    font-weight: 500;



}

.iconWrapperE,
.iconWrapperO {
    padding: .2rem;
    background-color: transparent;
    border-radius: 50%;
}

.iconWrapperE {
    border: 1px double var(--red);
}

.iconWrapperO {
    border: 1px double var(--blue);
}