.container{
    display: flex;
    flex-direction: column;
}
.address {

    @media(max-width: 768px) {
        max-width: 300px;
        height: fit-content;
    }
}
.both{
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.location{
    font-weight: 600;
    color: var(--orange);
    font-size: 1.2rem;
}
.office{
    font-size: 1rem;
    line-height: 19px;
    color: var(--smoke);
}
.title{
    color: var(--white);
    font-weight: 600;
    text-align: left;
    font-size: 16px;
    font-family: WorkSans-Regular, sans-serif;

}