@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue: #05388a;
  --lightBlue: #2F69C4;
  --lightestBlue: #599AFF;
  --blueTrans: #0049BC;
  --blueTrans20: #609EFF;

  --red: rgb(240, 5, 5);
  --deepRed: #B4141C;
  --lightRed: #FFF0F3;
  --lightestRed: rgba(240, 5, 5, 0.021);

  --white: #FFFFFF;
  --light: #F2F5FB;
  --dark: #111111;
  --footerDark: #202020;
  --gray: #444746;
--smoke: rgb(224, 221, 221) ;
--footerBlaack: rgb(27, 27, 27);


  --orangered: orangered;
  --orange: rgb(255, 123, 0);
  --lightOrange: #F0AF19;
  --yellow: #FAC100;
  --yellowGreen: yellowgreen;
  
--fontScratum: stratum-2-web, sans-serif
}

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  min-width: 100vw;
  max-width: 100vw;

}

.page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  max-width: 100%;
  min-width: 100%;
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;

  @media(max-width: 768px) {
        padding: 1rem 0;
}
}

.edu, .travel{
  background-color: var(--lightestBlue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tra_service{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--lightestBlue);
}
.edu_service{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--lightestRed);
}