.container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--dark);
    font-size: 16px;
    line-height: 20px;
    font-style: normal;
    text-align: left;

    @media(max-width: 640px) {
        text-align: left;
    }
}
.link{
    /* color: var(--dark); */
    color: var(--smoke);
    font-size: 14px;
}
.link:hover{
    color: var(--blue);
}